body {
	font-family: Geneva, Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #F0810F;
	color: #FFFFFF;
	margin: 0;
}

#wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #3F681C;
}

header h1 {
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	margin-top: 15px;
	margin-bottom: 0;
	position: relative;
	left: 310px;
	width: 620px;
} 

.address {
	margin-top: 0;
	margin-bottom: 0;
	width: 256px;
	position: relative;
	left: 674px;
}

#tel {
	color: #FFBB00;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
	relative: position;
	text-align: center;
}

nav {
	background-color: #D66A00;
}
	
nav li {
	list-style-type: none;
	margin-bottom: 7px;
	margin-top: 7px;
}

nav ul {
	padding-left: 0;
	display: flex;
	justify-content: space-around;	
	border: solid;
	border-color: #FFBB00;
}

nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 6px;
}

nav a:hover { 
	background-color: #A25304;
	border-radius: 25px;
}

#menuintro {
	background-color: #3f681b;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 25px;	
}

#flex {
	display: flex;
	justify-content: space-around;	
	background: linear-gradient(0deg, #F0810F, #D66A00);
	border: solid;
	border-color: #FFBB00;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 30px;
}

#menutag { 
	position: relative;
	margin-left: 30px;
	margin-right: 100px;
	margin-bottom: 30px;
	background-color: #ef3e14;
	height: 150px;
	width: 150px;
}

#menutag::before {
	content: "";
	position: absolute;
	background-color: #ef3e14;
	top: 0;
	left: 0;
	height: 150px;
	width: 150px;
	transform: rotate(30deg);
}

#menutag::after {
	content: "";
	position: absolute;
	background-color: #ef3e14;
	top: 0;
	left: 0;
	height: 150px;
	width: 150px;
	transform: rotate(60deg);
}

#second {
	position: relative;
	background-color: #ef4d25;
	top: 8px;
	left: 8px;
	height: 135px;
	width: 135px;
	z-index: 5;
}


#second::before {
	content: "";
	position: absolute;
	background-color: #ef4d25;
	top: 0;
	left: 0;
	height: 135px;
	width: 135px;
	transform: rotate(30deg);
}

#second::after {
	content: "";
	position: absolute;
	background-color: #ef4d25;
	top: 0;
	left: 0;
	height: 135px;
	width: 135px;
	transform: rotate(60deg);
}

#top {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 30%;
	margin-top: -20px;
	margin-left: 15px;
	z-index: 10;
	font-family: 'Sniglet', cursive, sans-serif;
	font-size: 20px;
	color: #ffcb05; 
}

#bottom {
	width: 150px;
	height: 40px;
	position: absolute;
	top: 60%;
	margin-top: -20px;
	margin-left: -6px;
	z-index: 10;
	font-family: 'Sniglet', cursive, sans-serif;
	font-size: 30px;
	color: #ffcb05;
}

#ourmenu {
	margin-top: 25px;
}

#welcomenu {
	background-color: #d49749c9;
	margin-right: 15px;
	margin-bottom: 25px;
}

#welcomenu p {
	font-size: 25px;
	margin-left: 35px;
	margin-right: 15px;
	font-family: 'Sniglet', cursive, sans-serif;
}

#welcomenu p+p {
	font-size: 35px;
	color: #ffe170;
}

#tabl {
	background-color: #3F681C;
	margin-top: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

table {
	background: linear-gradient(0deg, #F0810F, #D66A00);
	border: solid;
	border-color: #FFBB00;
	margin-left: 130px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px; 
	font-size: 16px;
}

table h2 {
	margin: 0px;
	color: #ffe170;
	font-family: 'Sniglet', cursive, sans-serif;
	font-weight: bold;
	border-bottom: dotted;
}

table td {
	padding: 6px;	
}

.middle {
	padding-right: 200px;
}

#table2 {
	border: none;
	background: #f0810f00;
	padding: 0px;
	margin-left: 25px;
}

#table2 th, td {
	padding: 0;
}

footer {
	background-color: #3F681C;
}

footer li {
	list-style-type: none;
	margin-left: 25px;
}

footer p {
	margin-bottom: 0;
	text-align: center;
	font-size: 12px;
}

footer ul {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

footer h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'Sniglet', cursive, sans-serif;
}

